.menu {
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.747);
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  border-radius: 5px;

  &-button {
    width: 100px;
    height: 25px;
    background: rgb(255, 0, 0);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover {
      background-color: rgb(110, 42, 42);
    }
  }
}
